/* fonts 
     font-family: 'Lobster', cursive;
    font-family: 'Megrim', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;
*/ 



.titleLogo {
    font-family: 'Lobster', cursive;
    font-size: 33px;
    font-weight: bold;
    /*text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.12);*/

    background: white;
    width:145px;
    padding:5px 22px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    border-radius:3px 30px;    
}


.me_title {
}